<!DOCTYPE html>
<html>
	<head>
 
 <!-- 重要 -->
		<!-- <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script> -->
		 <!-- 	<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
		 	<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css"> -->
		
	 
	 <script src="ag-grid/ag-grid.js"></script>
	<link rel="stylesheet" href="ag-grid/ag-grid.css" />
	<link rel="stylesheet" href="ag-grid/ag-theme-alpine.css" />



		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<style>

		</style>
	</head>
	<style>

	</style>
	<script src="js/Config.js"></script>
	<script src="js/columnDefs.js"></script>

	<body>

		<div id="vue-app">
			<el-collapse v-model="activeNames" @change="handleChange" accordion>

				<el-collapse-item title="Internet" name="1" style="text-align: center;">
					<div>
						<!-- <el-input clearable v-model="inputCode" placeholder="请输入编码" style="width: 200px;"></el-input> -->
						<el-select v-model="selectValue" @focus="selectFocus" @change="selectChange" multiple
							placeholder="选择库">
							<el-option v-for="item in options" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>

						</el-select>
						<el-button type="primary" @click="sumbit">查询</el-button>
					</div>
				</el-collapse-item>


				<el-collapse-item title="Localhost" name="2">
				 
			 <!-- 单选按钮分类 -->
					<el-radio v-model="radio" label="0" @change="radioGroupClick">No</el-radio>
					<el-radio-group v-model="radio" @change="radioGroupClick">
						<el-radio v-for="list in columnDefs" :key="list.id" :label="list.id">{{list.headerName}}
						</el-radio>
					</el-radio-group>
 <!-- 单选按钮分类 -->

				</el-collapse-item>


			</el-collapse>
		</div>
		<!-- 	<h1>Hello from AG Grid!</h1> -->
		<!-- 生成table -->
		<p></p>
		<div id="myGrid" style="height: 600px;width:800px;margin: 0 auto;" class="ag-theme-alpine"></div>

		<script type="text/javascript" charset="utf-8">
			// specify the columns
			//设置时间算法


			const autoGroupColumnDef = {
				headerName: "Model",
				field: "model",
				cellRenderer: 'agGroupCellRenderer',
				//单选按钮排列
				// cellRendererParams: {
				// 	checkbox: true
				// }
			}

			// let the grid know which columns to use
			const gridOptions = {
				autoGroupColumnDef: autoGroupColumnDef,
				columnDefs: columnDefs, //表头
				// rowSelection: 'multiple', //设置复制
				rowMultiSelectWithClick: false, //多选单选
				rowDeselection: true,
				animateRows: true, //排序动画
				pagination: true, //开启分页（前端分页）
				// paginationAutoPageSize: true, //根据网页高度自动分页（前端分页）
				defaultColDef: {
					// 可拖动
					sortable: true,
					resizable: true,

				},
				// 分页
				paginationNumberFormatter: function(params) {
					console.log(params)
					return '[' + params.value.toLocaleString() + ']';
				},
				// 粘贴版
				// sendToClipboard(params) {
				//     console.log('send to clipboard called with data:');
				//     console.log(params.data);
				// 	sendToClipboardValue = params.data;
				//   }

			};

			// lookup the container we want the Grid to use
			const eGridDiv = document.querySelector('#myGrid');

			// create the grid passing in the div to use together with the columns & data we want to use
			new agGrid.Grid(eGridDiv, gridOptions);

			// fetch the row data to use and one ready provide it to the Grid via the Grid API
			// fetch(base + '/selectEsJson')
			// 	.then(response => response.json())
			// 	.then(data => {
			// 		console.log(data)

			// 		gridOptions.api.setRowData(data.data);

			// 	});
			gridOptions.api.setRowData(null);
		</script>
		<!-- 生成table -->
		<!-- js函数 -->
		<script>
			function desc() {

			}
		</script>


		<!-- vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>

		<script>
			new Vue({
				el: '#vue-app',
				data: function() {
					return {
						activeNames: [],
						inputCode: '',
						options: [{
							value: '选项1',
							label: '我是测试'
						}, {
							value: '选项2',
							label: '我是测试2'
						}, {
							value: '选项3',
							label: '我是测试3'
						}],
						selectValue: [],
						radio: '0'
					}
				},
				methods: {
					handleChange(val) {
						console.log("handleChange" + ":::" + val);
					},
					selectChange(eve) {
						console.log("选择项:::" + eve)

					},
					selectFocus() {
						console.log("ajax获取索引库")
						
					 
						console.log(this.option)
						
					},
					/* 搜索*/
					sumbit() {
						if(this.selectValue.length==0){
							 this.$notify.error({
							          title: '错误',
							          message: '未选择查询库'
							        });
							console.log("请选择库")
							return;
						}

						console.log(this.selectValue)
fetch(base + '/selectEsJson?dbList='+this.selectValue)
				.then(response => response.json())
				.then(data => {
					console.log(data)

					gridOptions.api.setRowData(data.data);

				});


					},
					// 聚合某一个字段
					radioGroupClick(value) {
						if(value==0){
							
							gridOptions.api.setColumnDefs(columnDefs);
							return;
						}
						console.log("选择的单选按钮id:::"+columnDefs)
						console.log(columnDefs)
						const newColumnDefs = columnDefs;

						//拿到全部的表头 对象进行指定id的修改 
						newColumnDefs[value - 1].rowGroup = true;
						//加载完成数据 但是newColumnDefs是不变的 下次来拿到的还是这个newColumnDefs 所以值是相同的
						gridOptions.api.setColumnDefs(newColumnDefs);
						//那么就需要修改这个值 在返回给主页index.html
						newColumnDefs[value - 1].rowGroup = false;
						
						console.log(columnDefs)

					}


				}
			})
		</script>
	</body>
</html>
